@import '~antd/lib/style/themes/default.less';

.plus-sample {
  color: @primary-color;
  padding: 8px;
  border-radius: @border-radius-base;
  border: 1px solid @border-color-base;
}

plus-sample .ant-menu-item, 
plus-sample .ant-menu-submenu, 
plus-sample .ant-menu-submenu > .ant-menu-submenu-title {
  height: 30px !important;
  line-height: 30px !important;
}